.RunIbofOs-Outer-Box {
  width: 100%;
  /* top:calc(100vh - 300px);
    height:calc(100vh - 580px); */
  margin-top: 20px;
  overflow: hidden;
  color: black;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0px;
  position: relative;
  display: block;
  float: left;
  background-color: #fff;
  overflow: visible;
}

.IBOFOS-header_style {
  color: #424850;
  font-size: 16px;
  text-align: left;
  margin-top: 0.8rem;
  margin-left: 1.5%;
  position: relative;
  float: left;
  width: 100%;
  font-weight:bold;
}

.IBOFOSMainHeader {
  box-sizing: border-box;
  color: white;
  background-color: #4c6380;
  width: 100%;
  overflow: auto;
  float: left;
  border-bottom: 1px solid gray;
  font-size: 14px;
  height: 30px;
  padding-top: 5px;
  padding-left:2.8%;
}
.IBOFOSStartLabel {
  margin-right: 25px;
  float: left;
  font-family: Arial;
  margin-left: 2.8%;
  
}

.IBOFOSNoteMessage {
  float: left;
  width: 95%;
  margin-top: 20px;
  margin-left: 2.8%;
  display: flex;
  align-items: center;
}

.IBOFOSStatusLabel {
  width: 11%;
  float: left;
  font-family: Arial;
  margin-top: 13.5px;
  margin-left: 2.8%;
  clear:  both;
}

.IBOFOSButtonClass {
  float: left;
  margin: 8px;
}

.IBOFOSCommandWrapper {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #788595;
  padding: 4px;
  margin: 4px 2.8%;
  float: left;
}

.IBOFOSSetPropertyContainer {
  padding: 4px;
  margin: 4px 2.8%;
  float: left;
}

.IBOFOSPropertySelect {
  width: 170px;
}

.IBOFOSSetPropertyContainer > .IBOFOSPropertyButton {
  height: 35px;
  margin-left: 16px;
}

.IBOFOSSetPropertyContainer > .IBOFOSImpactText {
 margin-left: 16px;
}

/* @media screen and (max-width: 1450px) {
  .IBOFOSStartLabel {
    width: 30%;
  }
  .IBOFOSButtonClass {
    width: 60%;
  }
}
@media screen and (max-width: 1205px) {
  .IBOFOSStartLabel {
    width: 40%;
  }
  .IBOFOSButtonClass {
    width: 60%;
  }
} */
.IBOFOSStatusLabel {
  margin: 4px 2.5%;
  padding: 4px;
  clear: both;
  width: 95%;
}
.IBOFOSResponse {
  padding: 4px;
  border: 1px solid #788595;
  width: 100%;
  min-height: 50px;
}
.IBOFOSStatusIcon {
  vertical-align: sub;
  height: 0.8em !important;
}
.IBOFOSStatusText {
  clear: both;
}

.IBOFOSUppercase {
  text-transform: uppercase;
}
