.Volume-management {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  width: calc(100% - 314px);
  display: block;
  float: left;
  overflow-y: auto;
}

.Volume-ibof-dropdown {
  float: right;
  width: 250px;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 14px;
  text-align: left;
}

.Manage-volumes-wrapper {
  margin-left: 18px;
  height: 155px;
  width: 49%;
  float: left;
  margin-bottom: 12px;
}
.Volume-management .Array-management-wrapper {
  width: calc(100% - 36px);
  float: left;
  margin: 15px 5px 12px 18px;
}
.Volume-chart-card {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0px;
  /* box-shadow: 1px 1px 1px 1px lightgray; */
  background-color: #ffffff;
  float: left;
  box-sizing: border-box;
  border: 1px solid #b2b2b2;
}

.Volume-chart-card-inner {
  width: 96%;
  margin: 0 5px 10px 2%;
  /* box-shadow: 1px 1px 1px 1px lightgray; */
  background-color: #ffffff;
  float: left;
  box-sizing: border-box;
  border: 1px solid #b2b2b2;
}

.Volume-chart-card-grey {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0px;
  /* box-shadow: 1px 1px 1px 1px lightgray; */
  background-color: #eeecec;
  float: left;
  box-sizing: border-box;
  border: 1px solid #b2b2b2;
}

.Volume-management .Volume-statistics-wrapper {
  height: 155px;
  width: calc(50% - 36px);
  float: left;
  margin: 0 12px 12px;
}

.Volume-management .Volume-portal-wrapper {
  width: calc(100% - 36px);
  float: left;
  margin: 0 12px 0px 18px;
}

.Volume-management .Volume-portal-binding-wrapper {
  height: 25vh;
  width: 46%;
  float: left;
  display: block;
  overflow: hidden;
  margin: 17px 5px 5px 20px;
  margin-left: 3%;
}

.Volume-management .ReactTable .rt-tbody .rt-td {
  height: 30px;
}

.dashboard-volume-binding-dropdown {
  float: left;
  width: 250px;
  margin-left: 6%;
  /* margin-top: 10px; */
  /* margin-bottom:14px; */
  text-align: left;
}

.Volume-portal-margin-wrapper {
  margin: 5px 10px 2px 10px;
  border: 1px solid grey;
  box-sizing: border-box;
  height: 70%;
}
.Volume-portal-margin-wrapper .list-group {
  margin: 10px;
  height: 75%;
  width: 45%;
  float: left;
  border: 1px solid grey;
}

.Volume-legend {
  list-style: none;
  float: left;
  clear: left;
  display: block;
  padding-left: 0;
  margin: 10px 0 20px 0;
}

.Volume-legend span {
  border: 1px solid #ccc;
  float: left;
  width: 20px;
  height: 20px;
  margin: -3px 2px 0 0;
}

.Volume-legend li {
  float: left;
  margin-right: 10px;
}

.Volume-legend .volume-used {
  background-color: #339eff;
}

.Volume-legend .volume-free {
  background-color: rgba(0, 186, 0, 0.6);
}

.Volume_header_style {
  color: rgb(0, 162, 255);
  text-align: left;
  margin-left: 15px;
  padding: 3px;
  float: left;
  font-size: 18px;
  margin-top: 5px;
}
