{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "assert": "both",
      "depth": 3,
    }],
    "import/imports-first": ["error", "absolute-first"],
    "no-underscore-dangle": ["error", { "allow": ["_id", "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }],
    "jsx-a11y/label-has-for": 0,
    "react/no-access-state-in-setstate": 0,
    "react/destructuring-assignment": 0,
    "react/prop-types": 0,
    "no-param-reassign": 0,
    "react/no-string-refs": 1,
    "react/forbid-prop-types": 1,
    "react/no-multi-comp": 1,
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-closing-tag-location": 1,
    "react/jsx-closing-bracket-location": 1,
    "jsx-quotes": 1,
    "no-multi-spaces": 1,
    "react/jsx-tag-spacing": 1,
    "react/jsx-curly-spacing": 1,
    "react/jsx-boolean-value": 1,
    "jsx-a11y/alt-text": 1,
    "jsx-a11y/img-redundant-alt": 1,
    "jsx-a11y/aria-role": 1,
    "jsx-a11y/no-access-key": 1,
    "react/no-array-index-key": 1,
    // "prop-types-exact": 1,
    "react/jsx-wrap-multilines": 1,
    "react/self-closing-comp": 1,
    "react/jsx-no-bind": 1,
    "react/require-render-return": 1,
    "react/sort-comp": 1,
    "react/no-is-mounted": 1,
    "react/jsx-fragments": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
