.IbofOsOperations {
  display: block;
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  overflow: hidden;
  top: 56px;
  position: absolute;
  background-color: #f1f0f5;
  border: 0px;
  padding-top:8px;
  margin-left:250px;
}

.Dropdown-arrow {
  top: 7px;
}

@media screen and (max-height: 360px) {
  .IbofOsOperations {
    overflow: scroll;
  }
}

@media screen and (max-width: 959px) {
  .IbofOsOperations {
    width: 100%;
    margin-left: 0;
  }
}

