.Configuration {
  height: 42px;
}
.config_header_style {
  color: rgb(0, 162, 255);
  font-size: 18px;
  text-align: left;
  margin: 12px;
  margin-left: 18px;
  padding: 0px;
  position: relative;
  float: left;
  font-family: Arial;
}

.Config_dashboard-ibof-dropdown {
  float: right;
  width: 250px;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 14px;
  text-align: left;
}
