.Dropdown-arrow {
  top: 7px;
}

@media screen and (max-height: 360px) {
  .IbofOsOperations {
    overflow: scroll;
  }
}

@media screen and (max-width: 959px) {
  .IbofOsOperations {
    width: 100%;
    margin-left: 0;
  }
}

