bidict==0.21.3
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
dataclasses==0.8
dnspython==2.1.0
eventlet==0.25.2
Flask==1.0.2
Flask-SocketIO==4.3.0
greenlet==1.1.1
idna==2.8
importlib-metadata==4.8.1
influxdb==5.3.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
monotonic==1.6
msgpack==1.0.2
PyJWT==1.7.1
pymodm==0.4.1
python-dateutil==2.8.2
python-engineio==3.13.2
python-socketio==4.6.0
pytz==2021.1
requests==2.21.0
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.24.3
Werkzeug==2.0.1
zipp==3.5.0
