.LabelClass {
  margin-left: 1.5%;
  text-align: left;
  width: 7%;
  float: left;
  margin-top: 24px;
  font-size: 12px;
}
.LabelClassSendAlert {
  margin-left: 1.7%;
  text-align: left;
  width: 10%;
  float: left;
  justify-content: center;
  font-size: 12px;
  margin-top: 24px;
}
.DescriptionLabelSpan {
  float: left;
  width: 99.5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 2%;
}
.DescriptionLabel {
  float: left;
  margin-top: 1.1%;
}
.Alert-textbox_style {
  float: left;
  width: 16.5%;
  margin-left: 0.3%;
  margin-top: 1.6%;
  background: white;
}
.Alert-textbox_style_description {
  float: left;
  width: 90%;
  height: 40px;
  margin-left: 2%;
  background: white;
}
.AlertType-textbox_style {
  float: left;
  height: 1%;
  margin-top: 1.7%;
}

.AddAlerttextbox_style {
  float: left;
  width: 18%;
  margin-top: 1.55%;
  position: relative;
  font-size: 12px;
  height: 4%;
}
.AddAlerttextbox_style .Dropdown-menu {
  overflow-y: scroll;
  height: 150px;
}
.AddAlertTableButtonsWrap {
  float: right;
  padding-top: 15px;
  padding-right: 1%;
}

@media screen and (max-width: 1445px) {
  .Alert-textbox_style {
    width: 18%;
  }
  .AddAlerttextbox_style {
    width: 12%;
  }
  .textbox_style_description {
    width: 60%;
  }
}
@media screen and (max-width: 1300px) {
  .Alert-textbox_style {
    width: 18%;
  }
  .LabelClassSendAlert {
    width: 5%;
  }
}
@media screen and (max-width: 1345px) {
  .DescriptionLabel {
    width: 6%;
  }
  .DescriptionLabelSpan {
    width: 98%;
  }
}

@media screen and (max-width: 1060px) {
  .Alert-textbox_style {
    width: 12%;
  }
  .body {
    min-width: 1060px;
  }
  .LabelClassSendAlert {
    width: 5%;
  }
  .DescriptionLabel {
    width: 7%;
  }
}

@media screen and (max-height: 613px) {
  .Alert-textbox_style_description {
    height: 30px;
  }
}
