[Unit]
Description=Testing mTool startup

[Service]
WorkingDirectory=/usr/local/mtool
ExecStart=/usr/local/mtool/script/server_run.sh
StandardOutput=file:/var/log/logmtool1.log
StandardError=file:/var/log/logmtool2.log

[Install]
WantedBy=default.target
