.UserManagement {
  display: block;
  float: left;
  width: calc(100% - 314px);
  height: calc(100vh - 80px);
  overflow-x: hidden;
}

.UserManagement-header_style {
  color: rgb(0, 162, 255);
  font-size: 18px;
  text-align: left;
  padding: 0px;
  margin-left: 18px;
  position: relative;
  float: left;
  width: 100%;
}
