[Unit]
Description=Testing MAgent Startup

[Service]
WorkingDirectory=/usr/local/magent
ExecStart=/usr/local/magent/bin/magent
StandardOutput=file:/var/log/m9k/logmagent1.log
StandardError=file:/var/log/m9k/logmagent2.log

[Install]
WantedBy=default.target


