.Performance {
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.Performance-chart-card {
  height: 325px;
  width: calc(50% - 30px);
  margin: 12px 0 0 20px;
  box-shadow: 1px 1px 1px 1px lightgray;
  background-color: #ffffff;
  float: left;
}

.Performance .Performance-title {
  display: flex;
  vertical-align: middle;
  align-items: center;
  float: left;
  font-size: 18px;
  margin-left: 18px;
  margin-top: 10px;
  font-weight: 600;
  color: rgb(0, 162, 255);
}

.Performance .Performance-granularity {
  margin-top: 10px;
  float: right;
  margin-right: 18px;
}

.Performance .Performance-clear {
  clear: both;
}

.Performance-header {
  text-align: left;
  margin-bottom: 0;
  color: #00a2ff;
  font-weight: bold;
  font-size: 14px;
  margin-top: 2px;
}
