.DiskDetails-value-wrap {
  margin: 15px 0;
}

.DiskDetails-value {
  width: 50%;
  font-size: 12px;
  display: inline-block;
  white-space: nowrap;
}

.Diskdetails-value-label {
  width: 120px;
  display: inline-block;
}
